<div>
  <div>
    <h2>
      List of all songs
    </h2>
  </div>
</div>


<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :name_cont, "Song name containing" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a few characters" %>
  </div>

  <div>
    <%= f.label :artist_cont, "Artist name containing" %>
    <%= f.text_field :artist_cont, :placeholder => "Enter a few characters" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/songs">Clear filters</a>
<% end %>

<hr>

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Artist
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_songs.each do |a_song| %>
      <tr>
        <td>
          <%= a_song.name %>
        </td>

        <td>
          <%= a_song.artist %>
        </td>

        <td>
          <form action="/insert_songs_queue" method="post">
            <input type="hidden" name="query_song_id" value= <%= a_song.id %> >
            <button>
              Add this song to queue
            </button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Couldn't find the song you were looking for? Add a new song:
    </h3>

    <form action="/insert_song" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="artist_box">
          Artist
        </label>

        <input type="text" id="artist_box" name="query_artist">
      </div>

      <div>
        <label for="url_box">
          Url from youtube (only source accepted)
        </label>

        <input type="text" id="url_box" name="query_url">
      </div>

      <button>
        Create song
      </button>
    </form>
  </div>
</div>

<hr>
