<div>
  <div>
    <h1>
      List of all rooms
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new room
    </h2>

    <form action="/insert_room" method="post">
      <div>
        <label for="admin_id_box">
          Admin
        </label>

        <input type="text" id="admin_id_box" name="query_admin_id">
      </div>

      <div>
        <label for="singers_count_box">
          Singers count
        </label>

        <input type="text" id="singers_count_box" name="query_singers_count">
      </div>

      <button>
        Create room
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Admin
        </th>

        <th>
          Singers count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_rooms.each do |a_room| %>
      <tr>
        <td>
          <%= a_room.id %>
        </td>

        <td>
          <%= a_room.admin_id %>
        </td>

        <td>
          <%= a_room.singers_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_room.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_room.updated_at) %> ago
        </td>

        <td>
          <a href="/rooms/<%= a_room.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
