
<div>
  <h2>
    Room #<%= @the_room.id %>
  </h2>
</div>

<% if @current_singer.user_id == @current_singer.room.admin_id %>
  <hr>
  <div>
    <h3>
      Tell your fellow singers the following info so that they can join your room:
    </h3>
    <ul>
      <li>
        <b>Room: </b><%= @current_singer.room.id %>
      </li>
      <li>
        <b>Room password: </b><%= @current_singer.room.password %>
      </li>
    </ul>
  </div>
<% end %>

<hr>

<% if @youtube_video_id != nil %>
  <%# Copied this from https://developers.google.com/youtube/player_parameters %>
  <iframe id="ytplayer" type="text/html" width="640" height="360"
    src= <%= "https://www.youtube.com/embed/" + @youtube_video_id + "?autoplay=" + @autoplay %>
    frameborder="0" allow="autoplay">
  </iframe>

  <div>
    <form action= <%="/rooms/#{@the_room.id}"%> method="get">
      <input type="hidden" name="query_play_next" value= <%= true %> >
      <button>
        Play next song
      </button>
    </form>
  </div>

<% else %>
  <h3>
    No song left unplayed in Songs Queue
  <h3>
<% end %>

<hr>

<h3>
  Songs Queue:
</h3>  

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Artist
        </th>

        <th>
          Played
        </th>

        <th>
        </th>
      </tr>

      <% @the_songs_queue.each do |a_next_song| %>
      <tr>
        <td>
          <%= a_next_song.song.name %>
        </td>

        <td>
          <%= a_next_song.song.artist %>
        </td>

        <td>
          <%= a_next_song.played %>
        </td>

        <td>
          <form action= <%="/rooms/#{@the_room.id}"%> method="get">
            <input type="hidden" name="query_song_id" value= <%= a_next_song.id %> >
            <button>
              Play this song next
            </button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <h3>
    <a href="/songs">Look for a song</a>
  </h3>  
</div>
