<!DOCTYPE html>
<html>
  <head>
    <title>Abusos Tropicais</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <% if @current_user != nil %>
      <ul>
        <li>
          <a href="/edit_user_profile">Edit <%= @current_user.name %></a>
        </li>
        <li>
          <a href="/user_sign_out">Sign Out</a>
        </li>
        <% if @current_singer != nil %>
            <li>
              <a href= <%= "/rooms/#{@current_singer.room.id}" %> >Go to my current room</a>
            </li>
        <% end %>
      </ul>
    <% end %>
    
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
